*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg-light: #eee;
  --color-bg-dark: #333;

  --color-text-light: #111;
  --color-text-dark: #eee;
  --color-text-secondary-light: #444;
  --color-text-secondary-dark: #bbb;
  --color-text-link-light: #0000ee;
  --color-text-link-dark: #8888ff;
  --color-text-link-visited-light: #551a8b;
  --color-text-link-visited-dark: #b47ee6;
}

html {
  --color-bg: var(--color-bg-light);

  --color-text: var(--color-text-light);
  --color-text-secondary: var(--color-text-secondary-light);
  --color-text-link: var(--color-text-link-light);
  --color-text-link-visited: var(--color-text-link-visited-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --color-bg: var(--color-bg-dark);

    --color-text: var(--color-text-dark);
    --color-text-secondary: var(--color-text-secondary-dark);
    --color-text-link: var(--color-text-link-dark);
    --color-text-link-visited: var(--color-text-link-visited-dark);
  }

  .invert-dark {
    filter: invert();
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: 0;
  padding: 0 0.5rem;

  height: 100vh;

  color: var(--color-text);
  background: var(--color-bg);
  font-family: ui-sans-serif, sans-serif;
}

nav {
  margin: 0 auto 0.5rem auto;
  padding: 0.5rem 0;
  border-bottom: 1px solid grey;

  width: 100ch;
  max-width: 100%;
}

nav > ul {
  margin: 0.5rem auto;
  padding: 0;

  text-align: center;

  list-style: none;
}

nav > ul > li {
  display: inline-block;

  padding: 0 0.5rem;
}

header > h1 {
  margin-top: 0;
}

header > p {
  text-align: center;
}

main {
  flex-grow: 1;

  margin: auto;

  width: 100ch;
  max-width: 100%;
}

article,
section {
  margin: auto;

  max-width: 100ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

ol.post-list {
  margin: auto;
  padding: 0;

  max-width: 100ch;

  list-style: none;
}

ol.post-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--color-text-link);
}

a:visited {
  color: var(--color-text-link-visited);
}

code {
  font-family: ui-monospace, monospace;
}

img {
  display: block;

  margin: auto;

  height: auto;
  max-height: 30rem;
  max-width: 100%;
}

img.small {
  max-height: 5rem;
}

footer {
  margin: 0.5rem auto;
  border-top: 1px solid grey;
  padding-top: 0.5rem;

  max-height: 2rem;
  width: 100ch;
  max-width: 100%;

  text-align: center;
}

footer img {
  display: inline;

  margin: 0 0.25rem;

  max-height: 100%;

  vertical-align: middle;
}

footer .sep {
  display: inline-block;
  min-width: 1rem;
}

.rounded {
  border-radius: 50%;
}
