---
title: Ian Johnson
layout: layouts/main.njk
---
<header>
  <h1>Ian Johnson</h1>

  <p>
    I am a software developer. I mainly work in Java professionally, but enjoy
    experimenting with different technologies outside work. You can explore
    several of my <a href="/projects/">personal projects</a> on this site or
    read some <a href="/posts/">things I've written</a>.
  </p>
</header>

<section>
<h1>Recent posts</h1>

{% set posts = collections.posts | lastN(5) %}
{% include "post-list.njk" %}
</section>
