:root {
  /* https://github.com/tinted-theming/schemes/blob/spec-0.11/base16/atelier-seaside-light.yaml */
  --base00: #f4fbf4;
  --base01: #cfe8cf;
  --base02: #8ca68c;
  --base03: #809980;
  --base04: #687d68;
  --base05: #5e6e5e;
  --base06: #242924;
  --base07: #131513;
  --base08: #e6193c;
  --base09: #87711d;
  --base0A: #98981b;
  --base0B: #29a329;
  --base0C: #1999b3;
  --base0D: #3d62f5;
  --base0E: #ad2bee;
  --base0F: #e619c3;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* https://github.com/tinted-theming/schemes/blob/spec-0.11/base16/atelier-seaside.yaml */
    --base00: #131513;
    --base01: #242924;
    --base02: #5e6e5e;
    --base03: #687d68;
    --base04: #809980;
    --base05: #8ca68c;
    --base06: #cfe8cf;
    --base07: #f4fbf4;
    --base08: #e6193c;
    --base09: #87711d;
    --base0A: #98981b;
    --base0B: #29a329;
    --base0C: #1999b3;
    --base0D: #3d62f5;
    --base0E: #ad2bee;
    --base0F: #e619c3;
  }
}

/* See https://github.com/tinted-theming/home/blob/main/styling.md#specific-colours-and-their-usages */

pre {
  background: var(--base00);
  color: var(--base05);
}

code .comment {
  color: var(--base03);
  font-style: italic;
}

code .tag {
  color: var(--base08);
}

code .constant, code .boolean, code .number {
  color: var(--base09);
}

code .string {
  color: var(--base0B);
}

code .builtin {
  color: var(--base0C);
}

code .keyword, code .attribute, code .conditional, code .type.qualifier, code .storageclass, code .include {
  font-weight: bold;
}

code .invalid, code .error {
  color: var(--base0F);
}
